{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 style="color:#17d778">Robotic Process Automation</h1>

  <!-- Introduction -->
  <p>
    Welcome to our Robotic Process Automation (RPA) services page. We specialize
    in automating repetitive tasks and optimizing your business processes
    through cutting-edge RPA solutions.
  </p>

  <!-- Key Benefits of RPA -->
  <h2 style="color:#17d778">Key Benefits of RPA</h2>
  <ul style="color:#ffffff">
    <li>Increased Efficiency: RPA streamlines operations and reduces manual errors.</li>
    <li>Cost Savings: Automation leads to reduced operational costs.</li>
    <li>Enhanced Accuracy: Eliminate human errors with precise automated tasks.</li>
    <li>Scalability: Easily scale RPA solutions to match your business growth.</li>
  </ul>

  <!-- How RPA Works -->
  <h2 style="color:#17d778">How RPA Works</h2>
  <p>
    RPA utilizes software robots (bots) to mimic human actions and interact with
    digital systems. These bots can perform tasks such as data entry, data
    extraction, and more. With our RPA solutions, you can optimize workflows and
    boost productivity.
  </p>

  <!-- Use Cases -->
  <h2 style="color:#17d778">Use Cases for RPA</h2>
  <ul style="color:#ffffff">
    <li>Automated Data Entry: Streamline data entry processes.</li>
    <li>Invoice Processing: Automatically extract data from invoices.</li>
    <li>Customer Support: Provide quick responses with AI-powered chatbots.</li>
    <li>HR Onboarding: Simplify employee onboarding procedures.</li>
    <!-- Add more use cases as needed -->
  </ul>

  <!-- Call to Action -->
  <p>
    Ready to leverage the power of RPA for your business? Contact us today to
    discuss your automation needs and explore the possibilities.
  </p>

  <!-- Contact Form -->
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="row">
      <div class="col-md-6">
        <button type="submit" class="btn btn-custom">Submit</button>
      </div>
      <div class="col-md-6 text-md-right">
        <a href="{% url 'homePage' %}" class="btn btn-custom mt-3 mt-md-0"
          >Back to Home</a
        >
      </div>
    </div>
  </form>
</div>
{% endblock %}
