<div class="row mt-lg-6 justify-content-center">
  <div class="col-lg-6 mx-lg-0 mx-2 about mirror-face">
    <div class="text-white p-2">
      <div id="about-me">
        <h2 class="display-4">About Me</h2>
        <p class="">
          {{info.about | truncatewords:50}}{% if info.about|length > 50 %}
          <a href="#" data-toggle="modal" data-target="#readMoreModal"
            >read more</a
          >{% endif %}
        </p>
      </div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="readMoreModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="readMoreModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="readMoreModalLabel">About Me</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-content">
              <div class="modal-body">
                <p class="text-center" style="color: black">{{info.about}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="contact-me">
        <h2 class="display-4">Contact Me</h2>
        <p class="mb-0 text-muted">
          <i class="fas fa-phone"></i>
          <span class="ml-2"
            ><a class="" href="tel:+27681884462">{{info.phone}}</a></span
          >
        </p>
        <p class="mb-0 text-muted">
          <i class="fa fa-envelope"></i>
          <a class="" href="mailto:{{info.email}}">{{info.email}}</a>
        </p>
        <div class="social text-center">
          <a href="{{info.github}}" target="_blank">
            <i class="fab fa-github"></i>
          </a>

          <a href="{{info.linkedin}}" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>

          <a href="{{info.instagram}}" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>

          <a href="{{info.facebook}}" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>

          <a href="{{info.twitter}}" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 pl-lg-4 mt-lg-0 mt-6 contact" id="message-me">
    <h2>Interested to work together? <span>Let's talk</span></h2>

    <form class="form" id="form">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input
              name="name"
              id="form-name"
              type="text"
              placeholder="Your Name"
              class="form-control input"
              autocomplete="off"
            />
            <div id="name-error"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input
              name="email"
              id="form-email"
              type="email"
              class="form-control input"
              placeholder="Your E-Mail"
              autocomplete="off"
            />
            <div id="email-error"></div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <textarea
          name="message"
          id="form-message"
          class="form-control input"
          rows="7"
          placeholder="Your Message here ..."
          autocomplete="off"
        ></textarea>
        <div id="message-error"></div>
      </div>

      {% comment "" %}
      <div class="form-group" id="recaptcha" style="display: none">
        <div
          class="g-recaptcha"
          data-sitekey="{{recaptcha_key}}"
          data-callback="RecaptchaCallback"
          data-expired-callback="expiredRecaptchaCallback"
        ></div>
        <input
          id="recaptcha-input"
          class="form-control d-none"
          data-recaptcha="true"
          required
          data-error="Please complete the Captcha"
        />
        <div id="recaptcha-error"></div>
      </div>
      {% endcomment %}

      <button type="submit" id="form-submit" class="send-message">
        Send <i class="ni ni-send"></i>
      </button>
      <!-- Add a booking button to initiate the modal -->
      <button
        type="button"
        id="form-submit"
        class="send-message"
        data-toggle="modal"
        data-target=".booking-modal"
        style="margin-top:10px"
      >
        Book a Meeting
      </button>
    </form>

    <!-- Small modal -->
    <button
      style="display: none"
      type="button"
      id="modal-toggle"
      data-toggle="modal"
      data-target=".bd-example-modal-sm"
    >
      Small modal
    </button>

    <div
      class="modal fade bd-example-modal-sm"
      tabindex="-1"
      role="dialog"
      aria-labelledby="mySmallModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-sm pt-8">
        <div class="modal-content text-success p-3 text-center send-success">
          <i class="fa fa-check-circle fa-3x"></i>
          <p class="">Your message has sent successfully.</p>
        </div>
      </div>
    </div>
    <!-- Add booking modal and a booking button using Calendly -->
    <button
      style="display: none"
      type="button"
      id="booking-modal-toggle"
      data-toggle="modal"
      data-target=".booking-modal">
      Booking modal
    </button>

    <div
      class="modal fade booking-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="bookingModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="bookingModalLabel">
              Book a Consultation
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="calendly-embed">
              <!-- Paste your Calendly embed code here -->
              <!-- Calendly inline widget begin -->
              <div
                class="calendly-inline-widget"
                data-url="https://calendly.com/damonts"
                style="min-width: 320px; height: 630px"
              ></div>
              <script
                type="text/javascript"
                src="https://assets.calendly.com/assets/external/widget.js"
                async
              ></script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
