<!DOCTYPE html>{% load static %}
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-BLT614BHWC"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-BLT614BHWC");
    </script>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8027105753805606"
      crossorigin="anonymous"
    ></script>
    <title>{% block title %}Thembisile Damon{% endblock title %}</title>

    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'favicon.svg' %}"
    />
    <!-- Adsense -->
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8027105753805606"
      crossorigin="anonymous"
    ></script>

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&display=swap"
      rel="stylesheet"
    />

    <!-- Icons -->
    <link href="{% static 'css/nucleo-icons.css' %}" rel="stylesheet" />
    <link
      href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v3.0.6/css/line.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />

    <!-- Argon CSS -->
    <link
      type="text/css"
      href="{% static 'css/argon-design-system.min.css' %}"
      rel="stylesheet"
    />

    <!-- Costom CSS -->
    <link type="text/css" href="{% static 'app.css' %}" rel="stylesheet" />
    <link
      type="text/css"
      href="{% static 'animation.css' %}"
      rel="stylesheet"
    />

    <link type="text/css" href="{% static 'slider.css' %}" rel="stylesheet" />
    {% block style %}{% endblock style %}
  </head>

  <body>
    {% block body %}
    <!-- particles.js container -->
    <div id="particles-js">
      <canvas
        class="particles-js-canvas-el"
        width="1874"
        height="1998"
        style="width: 100%; height: 100%"
      ></canvas>
    </div>
    {% include 'navbar.html' %} {% block content %} {% endblock content %}

    <!-- Back to top button -->
    {% comment "" %}
    <a id="Back-to-top-button"><i class="fa fa-angle-up fa-3x"></i></a>

    <a id="Back-to-top-button">
      <img class="" src="{% static 'img/rocket.svg' %}" />
    </a>
    {% endcomment %}

    <div class="container">
      <hr />
      <div class="row pb-3 footer">
        <div class="col-12 text-center">
          <p>
            Copyright © {% now "Y" %} Thembisile Damon . All rights reserved
          </p>
          <p class="coder">
            Built in Django By <a href="{{info.github}}">Thembisile Damon</a>
          </p>
        </div>
      </div>
    </div>
    {% endblock body %}

    <!-- Core -->
    <script src="{% static 'js/core/jquery.min.js' %}"></script>
    <script src="{% static 'js/core/popper.min.js' %}"></script>
    <script src="{% static 'js/core/bootstrap.min.js' %}"></script>

    <!-- Optional plugins -->

    <!-- Argon JS -->
    <script src="{% static 'js/argon-design-system.js' %}"></script>

    <script
      type="text/javascript"
      src='{% static "ckeditor/ckeditor-init.js" %}'
    ></script>
    <script
      type="text/javascript"
      src='{% static "ckeditor/ckeditor/ckeditor.js" %}'
    ></script>

    <script src="https://www.google.com/recaptcha/api.js"></script>

    <!-- stats.js lib -->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    <!-- Costom JS-->
    <script src="https://cdn.tiny.cloud/1/xl0beb4twbmeab3olja04wqy89tdulfshbvb6r5t0iejplu0/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
      tinymce.init({
        selector: "#form-description",
        setup: function (editor) {
          editor.on("change", function () {
            editor.save();
          });
        },
      });
    </script>
    <script src="{% static 'app.js' %}"></script>
    <script>
      var btn = $("#Back-to-top-button");

      $(window).scroll(function () {
        if ($(window).scrollTop() > 300) {
          btn.addClass("show");
        } else {
          btn.removeClass("show");
        }
      });

      btn.on("click", function (e) {
        e.preventDefault();
        $("html, body").animate({ scrollTop: 0 }, "300");
      });
      document.addEventListener("DOMContentLoaded", function () {
        const themeToggle = document.querySelector("#theme-toggle");

        themeToggle.addEventListener("change", function () {
          if (this.checked) {
            document.documentElement.setAttribute("data-theme", "dark");
          } else {
            document.documentElement.setAttribute("data-theme", "light");
          }
        });
      });
    </script>
    <script type="module">
      import Chatbot from "https://cdn.jsdelivr.net/npm/flowise-embed/dist/web.js";
      Chatbot.init({
        chatflowid: "f6e140a4-c47f-4ca5-8836-2144b0f8e9b7",
        apiHost: "https://flowiseai-railway-production-bbf1.up.railway.app",
        chatflowConfig: {
          // topK: 2
        },
        theme: {
          button: {
            backgroundColor: "#17d778",
            right: 20,
            bottom: 20,
            size: "medium",
            iconColor: "white",
            customIconSrc: "https://img.icons8.com/?size=512&id=38977&format=png",
          },
          chatWindow: {
            welcomeMessage: "Hello! I am virtual personal assistant for <strong>Thembisile Damon</strong>.",
            backgroundColor: "#ffffff",
            height: 700,
            width: 400,
            fontSize: 16,
            poweredByTextColor: "white",
            botMessage: {
              backgroundColor: "#f7f8ff",
              textColor: "#303235",
              showAvatar: true,
              avatarSrc:"https://fontawesomeicons.com/lib/svg/robot-light.svg",
            },
            userMessage: {
              backgroundColor: "#17d778",
              textColor: "#ffffff",
              showAvatar: true,
              avatarSrc:
                "https://raw.githubusercontent.com/zahidkhawaja/langchain-chat-nextjs/main/public/usericon.png",
            },
            textInput: {
              placeholder: "Type your question",
              backgroundColor: "#ffffff",
              textColor: "#303235",
              sendButtonColor: "#17d778",
            },
          },
        },
      });
    </script>
    {% block script %} {% endblock script %}
  </body>
</html>
