{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <i
        class="bi bi-check-circle-fill text-success"
        style="font-size: 5rem"
      ></i>
      <h2 class="text-success">Thank You!</h2>
      <p>
        Your request has been submitted successfully. <br />
        <br />
        We will get back to you soon.
      </p>
      <div class="d-flex justify-content-center mt-4">
        <i
          class="bi bi-emoji-smile"
          style="font-size: 2rem; margin-right: 1rem"
        ></i>
        <i
          class="bi bi-emoji-laughing"
          style="font-size: 2rem; margin-right: 1rem"
        ></i>
        <i class="bi bi-emoji-wink" style="font-size: 2rem"></i>
      </div>
      <div class="mt-4">
        <a href="javascript:history.back()" class="btn btn-outline-success"
          >Go Back</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
